In [36]:
# Python homework 7

# 1.Прочтите этот https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2019/2019-10-08/ipf_lifts.csv
    # набор данных по пауэрлифтингу в pandas DataFrame.
    
import pandas as pd

#df = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2019/2019-10-08/ipf_lifts.csv')\
                #.drop_duplicates()
    
df = pd.read_csv('ipf_lifts.csv').drop_duplicates()
df

,name,sex,event,equipment,age,age_class,division,bodyweight_kg,weight_class_kg,best3squat_kg,best3bench_kg,best3deadlift_kg,place,date,federation,meet_name
0,Hiroyuki Isagawa,M,SBD,Single-ply,NaN,NaN,NaN,67.5,67.5,205.0,140.0,225.0,1,1985-08-03,IPF,World Games
1,David Mannering,M,SBD,Single-ply,24.0,24-34,NaN,67.5,67.5,225.0,132.5,235.0,2,1985-08-03,IPF,World Games
2,Eddy Pengelly,M,SBD,Single-ply,35.5,35-39,NaN,67.5,67.5,245.0,157.5,270.0,3,1985-08-03,IPF,World Games
3,Nanda Talambanua,M,SBD,Single-ply,19.5,20-23,NaN,67.5,67.5,195.0,110.0,240.0,4,1985-08-03,IPF,World Games
4,Göran Henrysson,M,SBD,Single-ply,NaN,NaN,NaN,67.5,67.5,240.0,140.0,215.0,5,1985-08-03,IPF,World Games
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41147,Chien-Hsiung Chao,M,B,Single-ply,NaN,NaN,Open,126.5,125+,NaN,202.5,NaN,12,1995-06-25,IPF,World Bench Press Championships
41148,Oleg Gordynetz,M,B,Single-ply,NaN,NaN,Open,137.5,125+,NaN,202.5,NaN,13,1995-06-25,IPF,World Bench Press Championships
41149,Clive Lambert,M,B,Single-ply,31.5,24-34,Open,142.2,125+,NaN,202.5,NaN,14,1995-06-25,IPF,World Bench Press Championships
41150,Peter Brath,M,B,Single-ply,21.5,20-23,Open,125.5,125+,NaN,180.0,NaN,15,1995-06-25,IPF,World Bench Press Championships
41151,Valery Sidorenko,M,B,Single-ply,38.5,35-39,Open,142.0,125+,NaN,NaN,NaN,DQ,1995-06-25,IPF,World Bench Press Championships

In [37]:
df.isna().sum()

name                    0
sex                     0
event                   0
equipment               0
age                  2906
age_class            2884
division              627
bodyweight_kg         187
weight_class_kg         1
best3squat_kg       13698
best3bench_kg        2462
best3deadlift_kg    14028
place                   0
date                    0
federation              0
meet_name               0
dtype: int64

In [38]:
df['division'] = df['division'].fillna('Without division')
df = df.fillna(0)
df

,name,sex,event,equipment,age,age_class,division,bodyweight_kg,weight_class_kg,best3squat_kg,best3bench_kg,best3deadlift_kg,place,date,federation,meet_name
0,Hiroyuki Isagawa,M,SBD,Single-ply,0.0,0,Without division,67.5,67.5,205.0,140.0,225.0,1,1985-08-03,IPF,World Games
1,David Mannering,M,SBD,Single-ply,24.0,24-34,Without division,67.5,67.5,225.0,132.5,235.0,2,1985-08-03,IPF,World Games
2,Eddy Pengelly,M,SBD,Single-ply,35.5,35-39,Without division,67.5,67.5,245.0,157.5,270.0,3,1985-08-03,IPF,World Games
3,Nanda Talambanua,M,SBD,Single-ply,19.5,20-23,Without division,67.5,67.5,195.0,110.0,240.0,4,1985-08-03,IPF,World Games
4,Göran Henrysson,M,SBD,Single-ply,0.0,0,Without division,67.5,67.5,240.0,140.0,215.0,5,1985-08-03,IPF,World Games
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41147,Chien-Hsiung Chao,M,B,Single-ply,0.0,0,Open,126.5,125+,0.0,202.5,0.0,12,1995-06-25,IPF,World Bench Press Championships
41148,Oleg Gordynetz,M,B,Single-ply,0.0,0,Open,137.5,125+,0.0,202.5,0.0,13,1995-06-25,IPF,World Bench Press Championships
41149,Clive Lambert,M,B,Single-ply,31.5,24-34,Open,142.2,125+,0.0,202.5,0.0,14,1995-06-25,IPF,World Bench Press Championships
41150,Peter Brath,M,B,Single-ply,21.5,20-23,Open,125.5,125+,0.0,180.0,0.0,15,1995-06-25,IPF,World Bench Press Championships
41151,Valery Sidorenko,M,B,Single-ply,38.5,35-39,Open,142.0,125+,0.0,0.0,0.0,DQ,1995-06-25,IPF,World Bench Press Championships

In [39]:
# 2. Найдите рекорды каждого пола и каждого подразделения в каждом из 3 упражнений 
    # (жим лежа, приседания и становая тяга).

# 2.1 Рекорды каждого пола и каждого подразделения в жиме лежа - bench

df.groupby(['division', 'sex'])['best3bench_kg'].max().sort_values(ascending=False)

division          sex
Open              M      415.0
SuperHeavy        M      405.0
Juniors           M      375.0
Super             M      360.0
Masters 1         M      345.0
Heavy             M      330.0
Masters 2         M      310.5
Sub-Juniors       M      310.0
Middle            M      268.5
Masters 3         M      260.0
Without division  M      255.0
Open              F      235.0
Masters 4         M      220.0
Light             M      217.5
SuperHeavy        F      205.0
Masters 1         F      197.5
Heavy             F      192.5
Juniors           F      190.5
Super             F      190.0
Masters 2         F      172.5
Middle            F      170.0
Sub-Juniors       F      170.0
Without division  F      150.5
Light             F      150.0
Masters 3         F      140.0
Masters 4         F      115.0
Name: best3bench_kg, dtype: float64

In [40]:
# 2.2 Рекорды каждого пола и каждого подразделения в приседаниях - squat

df.groupby(['division', 'sex'])['best3squat_kg'].max().sort_values(ascending=False)

division          sex
Open              M      490.0
SuperHeavy        M      475.0
Super             M      465.0
Juniors           M      450.0
Heavy             M      432.0
Without division  M      413.0
Masters 1         M      405.0
Sub-Juniors       M      370.0
Middle            M      370.0
Masters 2         M      365.0
Light             M      325.5
Open              F      322.5
SuperHeavy        F      310.5
Heavy             F      305.0
Masters 3         M      300.0
Juniors           F      282.5
Super             F      267.5
Sub-Juniors       F      265.0
Masters 2         F      255.0
Middle            F      247.5
Masters 1         F      245.0
Without division  F      245.0
Masters 4         M      235.0
Light             F      220.0
Masters 3         F      210.0
Masters 4         F      135.0
Name: best3squat_kg, dtype: float64

In [41]:
# 2.3 Рекорды каждого пола и каждого подразделения в становой тяге - deadlift

df.groupby(['division', 'sex'])['best3deadlift_kg'].max().sort_values(ascending=False)

division          sex
SuperHeavy        M      420.0
Open              M      407.5
Masters 1         M      395.0
Super             M      387.5
Without division  M      385.0
Heavy             M      382.5
Juniors           M      377.5
Middle            M      345.0
Sub-Juniors       M      335.0
Masters 2         M      335.0
Light             M      315.0
Masters 3         M      305.0
Open              F      270.5
Masters 4         M      260.5
Without division  F      257.5
Juniors           F      252.5
Heavy             F      248.5
Masters 1         F      248.0
SuperHeavy        F      247.5
Super             F      245.0
Sub-Juniors       F      238.0
Middle            F      235.0
Masters 2         F      227.5
Light             F      202.5
Masters 3         F      190.0
Masters 4         F      142.5
Name: best3deadlift_kg, dtype: float64

In [42]:
# 3. Посчитайте количество побед каждого участника, принимая за победу 1-е место. 
    # Сохраните результаты во вторичном DataFrame.
        
        # Принимаем условие как: 
            # Посчитайте Общее количество побед каждого участника за всю его историю соревнований в разных подразделениях.
            
    
df2 = pd.DataFrame(df[df.place == '1'].groupby('name')['place'].count().sort_values(ascending=False))\
                    .rename(columns={'place': 'winnings'})
df2

                   winnings
name
Hideaki Inaba            28
Andrzej Stanaszek        24
Sergey Fedosienko        24
Ielja Strik              22
Hiroyuki Isagawa         21
...                     ...
Jarmo Ranta               1
Jarmo Sohlman             1
Jaroslav Halač            1
Jason Johnson             1
Štěpánka Židová           1

[3328 rows x 1 columns]

In [43]:
# 4. Используйте DataFrame из упражнения 3, чтобы показать для каждой комбинации подразделения и пола, 
    # участника с наибольшим количеством побед среди участников, когда-либо участвовавших в этом дивизионе.
    
        # Принимаем условие как: 
            # для каждой комбинации подразделения и пола показать участника с наибольшим Общим количеством его побед
            # за всю его историю соревнований, среди участников когда-либо участвовавших в этом конкретном подразделении.

# 4.1 К полной таблице присоединим каждому участнику Общее количество его побед:

df3 = df.join(df2, on='name').filter(items=['name', 'division', 'sex', 'winnings'])
df3['winnings'] = df3['winnings'].fillna(0)
df3

                    name          division sex  winnings
0       Hiroyuki Isagawa  Without division   M      21.0
1        David Mannering  Without division   M       0.0
2          Eddy Pengelly  Without division   M       4.0
3       Nanda Talambanua  Without division   M       4.0
4        Göran Henrysson  Without division   M       4.0
...                  ...               ...  ..       ...
41147  Chien-Hsiung Chao              Open   M       0.0
41148     Oleg Gordynetz              Open   M       0.0
41149      Clive Lambert              Open   M       0.0
41150        Peter Brath              Open   M       0.0
41151   Valery Sidorenko              Open   M       0.0

[41152 rows x 4 columns]

In [44]:
# 4.2 Найдем наибольшее Общее количество побед участника для каждой комбинации подразделения и пола:

df4 = pd.DataFrame(df3.groupby(['division', 'sex'])['winnings'].max().sort_values(ascending=False))
df4

                      winnings
division         sex
Without division M        28.0
Masters 2        M        28.0
Light            M        28.0
Open             M        28.0
Juniors          M        24.0
SuperHeavy       F        22.0
Super            F        22.0
Open             F        22.0
Heavy            F        22.0
Masters 1        F        22.0
Middle           M        21.0
Masters 3        M        21.0
Masters 1        M        21.0
Masters 3        F        20.0
Masters 2        F        20.0
Middle           F        17.0
Masters 4        F        16.0
Sub-Juniors      F        14.0
Light            F        14.0
Masters 4        M        13.0
Juniors          F        12.0
Without division F        12.0
Heavy            M        11.0
Sub-Juniors      M         8.0
Super            M         8.0
SuperHeavy       M         8.0

In [45]:
# 4.3 Добавим имена участников:

df5 = pd.merge(df3, df4, on=['division', 'sex', 'winnings']).drop_duplicates()\
                .sort_values(by=['winnings', 'division'], ascending=False).set_index('name')
df5

    # Таблицу получаем немного больше списка возможных комбинаций подразделения и пола, так как например:
        
        # division    sex    winnings
        # --------    ---    --------
        # Juniors      M       24.0
    
    # в этой комбинации есть два участника с одинаковым наибольшим Общим количеством побед.

                           division sex  winnings
name
Hideaki Inaba      Without division   M      28.0
Hideaki Inaba                  Open   M      28.0
Hideaki Inaba             Masters 2   M      28.0
Hideaki Inaba                 Light   M      28.0
Andrzej Stanaszek           Juniors   M      24.0
Sergey Fedosienko           Juniors   M      24.0
Ielja Strik              SuperHeavy   F      22.0
Ielja Strik                   Super   F      22.0
Ielja Strik                    Open   F      22.0
Ielja Strik               Masters 1   F      22.0
Ielja Strik                   Heavy   F      22.0
Jarosław Olech               Middle   M      21.0
Hiroyuki Isagawa          Masters 3   M      21.0
Hiroyuki Isagawa          Masters 1   M      21.0
Hana Takáčová             Masters 3   F      20.0
Hana Takáčová             Masters 2   F      20.0
Priscilla Ribic              Middle   F      17.0
Chiyomi Sawa              Masters 4   F      16.0
Bonica Brown            Sub-Juniors   F      14.0
Yukako Fukushima              Light   F      14.0
Shinjun Oshiro            Masters 4   M      13.0
Chen-Yeh Chao      Without division   F      12.0
Marina Kudinova             Juniors   F      12.0
Natalia Salnikova           Juniors   F      12.0
Svetlana Tesleva            Juniors   F      12.0
Chen-Yeh Chao               Juniors   F      12.0
Jan Wegiera                   Heavy   M      11.0
Kevin Jäger #1           SuperHeavy   M       8.0
Kenneth Sandvik               Super   M       8.0
Daisuke Midote                Super   M       8.0
Kevin Jäger #1          Sub-Juniors   M       8.0
Sergey Gladkikh         Sub-Juniors   M       8.0
Kirill Krut             Sub-Juniors   M       8.0

In [46]:
# 5.Подключитесь к базе данных employees и выполните с помощью pandas последний запрос из финального проекта по SQL. 
    # Убедитесь, что результаты загружены в pandas DataFrame.

import pymysql
import warnings
warnings.filterwarnings('ignore')

connector = pymysql.connect(host='127.0.0.1',port=int(3306),user="root",passwd='root',db='employees')

df6 = pd.read_sql_query('SELECT * FROM (SELECT *, SUM(month_salary) OVER (PARTITION BY dept_no ORDER BY dept_no,\
    month_salary, emp_no) AS cumulative_salary FROM (SELECT ede.dept_no, es.emp_no, ROUND(es.salary / 12, 2)\
    AS month_salary FROM employees.salaries AS es LEFT JOIN employees.dept_emp AS ede ON(ede.emp_no = es.emp_no\
    AND es.from_date BETWEEN ede.from_date AND ede.to_date) WHERE CURDATE() BETWEEN es.from_date AND es.to_date) AS s_1)\
    AS s_2 WHERE cumulative_salary < 500000;', connector)
df6

     dept_no  emp_no  month_salary  cumulative_salary
0       d001   65337       3318.42            3318.42
1       d001  107931       3322.58            6641.00
2       d001  290305       3327.17            9968.17
3       d001  266476       3369.50           13337.67
4       d001  469688       3415.67           16753.34
...      ...     ...           ...                ...
1271    d009  236723       3530.83          483566.24
1272    d009   97659       3531.58          487097.82
1273    d009  221350       3532.00          490629.82
1274    d009  461030       3532.58          494162.40
1275    d009  236228       3533.42          497695.82

[1276 rows x 4 columns]